<div class="uk-container-expand uk-height-viewport uk-flex-middle uk-flex uk-flex-center uk-background-muted">
  <div>
    <h3 class="uk-heading-large">Country search by</h3>
    <div class="uk-flex uk-flex-between uk-margin-large-top">
      <a routerLink="name" class="uk-button-primary uk-button uk-button-large uk-border-rounded">NAME</a>
      <a routerLink="capitalcity" class="uk-button-primary uk-button uk-button-large uk-border-rounded">CAPITAL CITY</a>
      <a routerLink="currency" class="uk-button-primary uk-button uk-button-large uk-border-rounded">CURRENCY</a>
    </div>
  </div>
</div>
