<div class="uk-container-expand uk-height-viewport uk-flex-middle uk-flex uk-flex-center uk-background-muted">
  <div class="uk-width-1-3 uk-background-default uk-border-rounded uk-padding">
    <button routerLink="" class="uk-icon-button" uk-icon="arrow-left"></button>
    <h2 class="uk-heading-small uk-margin-remove-top">Country search by capital city</h2>
    <div class="uk-form-stacked">
      <div class="uk-margin">
        <input [(ngModel)]="capitalCity" class="uk-input uk-border-rounded" type="text">
      </div>

      <div class="uk-margin">
        <button (click)="searchByCapitalCity()" class="uk-button uk-button-primary uk-border-rounded uk-align-right uk-margin-remove-bottom">Search</button>
      </div>
      <div class="uk-flex uk-flex-between uk-margin-large-top" *ngIf="countries.length ==1">
        <ul>
          <li *ngFor="let item of countries; let i = index">
            name: {{item.name}}
            <br/>capital: {{item.capital}}
            <br/>region: {{item.region}}
            <br/>subregion: {{item.subregion}}
            <br/>population: {{item.population}}
            <br/>area: {{item.area}} square km
            <br/>timezones: {{item.timezones}}
            <br/>borders: {{item.borders}}
            <br/>currencies:
            <span *ngFor="let currency of item.currencies">
              {{currency.code}}
            </span>
            <br/>languages:
            <span *ngFor="let language of item.languages">
              {{language.name}}
            </span>

          </li>
        </ul>
      </div>
      <div class="uk-flex uk-flex-between uk-margin-large-top" *ngIf="countries.length >1">
        <ul>
          Please type in the search field one of below results:<br/><br/>
          <li *ngFor="let item of countries; let i = index">

            {{item.capital}}


          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
